[submodule "hurrinico/project"]
	path = hurrinico/project
	url = git@github.com:hurrinico/project.git
	branch = 14.0-mig-project_parent

[submodule "OCA/helpdesk"]
	path = OCA/helpdesk
	url = git@github.com:OCA/helpdesk.git
	branch = 14.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 14.0

[submodule "ApuliaSoftware/afe"]
	path = ApuliaSoftware/afe
	url = git@github.com:ApuliaSoftware/afe.git
	branch = 14.0
